* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #020617;
  position: sticky;
  top: 0;
}

header a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.logo {
  color: #38bdf8;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  flex-wrap: wrap;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text span {
  color: #38bdf8;
}

.hero-text p {
  margin: 20px 0;
  color: #cbd5f5;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #38bdf8;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
}

.hero-img img {
  width: 280px;
  border-radius: 50%;
}

/* About */
.about, .contact {
  padding: 80px 60px;
  text-align: center;
}

.about h2, .projects h2, .contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Projects */
.projects {
  padding: 80px 60px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-card {
  background: #020617;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card .hello {
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}


.project-card p {
  padding: 0 15px 20px;
  color: #cbd5f5;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #94a3b8;
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
}
