*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #6a7c96);
}
.calculator{
    border: 1px solid ;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(255, 255, 255);
    width: 375px;
    border-style: ridge;
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    text-align: end;
    box-shadow: 9px 9px 150px rgb(255, 255, 255, 9.9) ;
    cursor: pointer;
}

input::placeholder{
    color: white;
}

button{
    border: none;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    width: 60px;
    color: white;
    background-color: rgb(64, 64, 64);
    font-size: 20px;
    box-shadow: 9px 9px 100px rgb(255, 255, 255, 9.9);
    cursor: pointer;
}
.equal-btn{
    background-color: orange;
}
.all-delete{
    background-color: rgb(68, 0, 255);
}
.function{
    background-color: #0a0a0a;
}
.delete{
    background: red;
}